**Hypothesys**

In [25]:
import numpy as np
from scipy import stats

N = 10
a = np.random.randn(N) + 2
b = np.random.randn(N)


var_a = a.var(ddof=1)
var_b = b.var(ddof=1)

#std deviation
s = np.sqrt((var_a + var_b)/2)
s

## Calculate the t-statistics
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))

## Compare with the critical t-value
#Degrees of freedom
df = 2*N - 2
#p-value after comparison with the t 
p = 1 - stats.t.cdf(t,df=df)
print("t = " + str(t))
print("p = " + str(2*p))

## Cross Checking with the internal scipy function
t2, p2 = stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))

t = 7.9495040749970185
p = 2.68167872574665e-07
t = 7.9495040749970185
p = 2.6816787265322134e-07

In [26]:
df=pd.read_csv('/kaggle/input/employee-dataset/Employee.csv')
df.head(10)

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
5,Bachelors,2016,Bangalore,3,22,Male,No,0,0
6,Bachelors,2015,New Delhi,3,38,Male,No,0,0
7,Bachelors,2016,Bangalore,3,34,Female,No,2,1
8,Bachelors,2016,Pune,3,23,Male,No,1,0
9,Masters,2017,New Delhi,2,37,Male,No,2,0

In [27]:
Nx = 70
Ny = 40
x = np.random.randn(Nx) 
y = np.random.randn(Ny)+2
print("Nx: {}, Ny: {}".format(len(x), len(y)))
t3, p3 = stats.ttest_ind(y,x)
print("t = " + str(t3))
print("p = " + str(p3))

Nx: 70, Ny: 40
t = 9.896699555409793
p = 8.011428407804533e-17

In [28]:
from scipy import stats
import pandas as pd

In [29]:
df.shape

(4653, 9)

In [30]:
df.isna().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

In [31]:
df['Age'] = df['Age'].fillna(0)

In [32]:
# Divide dataset on Males and Females
# Find mean, median and mode of their Age
mean_heigth_by_Gender = df.groupby('Gender') ['Age'].mean()
median_Age = df.groupby('Gender')['Age'].median()
mode_Age = df.groupby('Gender')['Age'].apply(lambda x: x.mode().iloc[0])

print(f"Mean of Age : { mean_heigth_by_Gender}")
print(f"Mean of Age : {median_Age}")
print(f"Mean of Age : { mode_Age}")

Mean of Age : Gender
Female    29.41600
Male      29.37797
Name: Age, dtype: float64
Mean of Age : Gender
Female    28.0
Male      28.0
Name: Age, dtype: float64
Mean of Age : Gender
Female    28
Male      26
Name: Age, dtype: int64

In [33]:
#Calculate T and P
male = df[df['Gender']=='Male']
female = df[df['Gender']=='Female']


t4, p4 = stats.ttest_ind(male['Age'],female['Age'])
print("t4 = " + str(t4))
print("p4 = " + str(p4))

t4 = -0.2636274828752633
p4 = 0.7920786580734457

In [34]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [35]:
#Calculate T-crit
dffm = female.shape[0] + male.shape[0] -2
t_crit = stats.t.cdf(t4,df=dffm)
print ("t_crit = " + str(t_crit))

t_crit = 0.39603932903672284